{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eliminar</title>
</head>
<body>
    <section class="form-container">
    <div class="form-header" >
      <h1>Eliminacion de Clientes</h1>
    </div>
    <form method="POST" id="form-cargo" class="form">
      {% csrf_token %}
      <h2>¿Desea Eliminar el Cliente =>
            <span style="color:red;">{{cargo.id}} - {{cargo.descripcion}}</span>?
      </h2>
      <button style="background:red;border-radius:5px;padding:5px;color:white;cursor:pointer;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"
            type="submit">Eliminar
      </button>
      <a style="display:block;background:green;border-radius:5px;padding:5px;color:white;cursor:pointer;text-align: center;text-transform: uppercase;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"
        href="{% url 'cliente' %}">Cancelar</a>
    </form>

  </section>
</body>
</html>
